{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Placeholder</h1>
            <p class="lead">Dit is een placeholder voor een echte index pagina.</p>
        </div>
    </div>
</div>
{% endblock %}